.container {
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: ease-in 0.2s;
  &:active,
  &:focus {
    background-color: var(--color-dark-100);
  }
  &:hover {
    background-color: var(--color-dark-500);
  }
  &:disabled {
    background-color: transparent;
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  margin: 3px;
  border: 2px solid;
  background-color: var(--color-dark-500);
  &:active,
  &:hover {
    // background-color: var(--color-dark-500);
  }
  &:focus {
    // background-color: transparent;
  }
}

.checked {
  background-color: transparent;
  &:focus {
    // background-color: transparent;
  }
  &:disabled {
    background-color: var(--color-light-700);
    border-color: var(--color-dark-100);
  }
}

.unchecked {
  background-color: transparent;
  //   border-color: var(--color-light-900);
  &:disabled {
    background-color: transparent;
    border-color: var(--color-dark-100);
  }
}

.indicator {
  width: 18px;
  height: 18px;
}

////////////////////////////////////////////////////////////////////////////
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
