.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  text-align: start;
}

.linkBack {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: start;

  margin-top: 24px;
  margin-bottom: 33px;

  color: var(--color-light-100);

  transition: 0.2s ease-out;

  &:hover {
    color: var(--color-info-300);

    svg path {
      fill: var(--color-info-300);
    }
  }
}

.nameCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-bottom: 24px;
}

.iconBack {
  margin-right: 4px;
}

.btnBox {
  display: flex;
  justify-content: center;
  max-width: 146px;
}
