.cell {
  display: flex;
  align-items: center;
}

.star,
.indentation {
  margin-right: 10px;
}

.img {
  width: 118px;
  height: 48px;
}

.attached,
.icon {
  cursor: pointer;
  display: flex;
  justify-content: space-around;

  &:hover {
    path {
      fill: var(--color-dark-100);
    }
  }
}

.sort {
  margin-right: 4px;
}
