.text {
  margin-left: 6px;
  transition: 0.3s;
}

.icon {
  display: flex;
}

.DropdownMenuItem {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;

  padding: 13px 0;

  border-bottom: 0.8px solid var(--color-dark-300);
  outline: none;

  transition: 0.3s;

  &:hover {
    border-bottom: 0.8px solid var(--color-accent-100);

    .icon path {
      fill: var(--color-accent-100);
    }

    .text {
      color: var(--color-accent-100);
    }
  }
}

.lastItem {
  border-bottom: none;
}
