.button {
  all: inherit;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  word-wrap: break-word;

  border: 0;
  border-radius: 4px;
  outline: none;

  transition:
    background-color 0.3s linear,
    color 0.3s linear,
    border 0.3s linear,
    outline 0.3s linear;
}

.primary {
  background-color: var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
    outline: 1px var(--color-info-700) solid;
  }

  &:active {
    background-color: var(--color-accent-700);
    outline: none;
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
    box-shadow: 0 4px 18px var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-300);
    outline: 1px var(--color-info-700) solid;
  }

  &:active {
    background-color: var(--color-dark-500);
    outline: none;
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  color: var(--color-accent-500);
  background: none;
  border: 1px solid var(--color-accent-500);

  &:hover {
    background-color: rgb(203 203 203 / 20%);
  }

  &:focus {
    outline: 1px var(--color-info-700) solid;
  }

  &:active {
    background-color: rgb(140 97 255 / 40%);
  }

  &:disabled {
    color: #382766;
    border: 1px solid #382766;
  }
}

.link {
  color: var(--color-accent-500);
  background: none;

  &:hover {
    color: var(--color-accent-300);
  }

  &:focus {
    border-radius: 50px;
    outline: 1px var(--color-info-700) solid;
  }

  &:active {
    color: var(--color-accent-700);
    outline: none;
  }

  &:disabled {
    color: #382766;
  }
}

.fullWidth {
  width: 100%;
}
