.body {
  margin: 36px auto 10px;
  padding: 0 136px;
}

.root {
  width: 100%;
}

.icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 117px;
}

.selsectorCell {
  padding-left: 35px;
}
