.body {
  margin: 36px 0 10px;
}

.root {
  width: 100%;
}

.icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 117px;
}

.selsectorCell {
  padding-left: 35px;
}

.cell {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: var(--color-info-300);
  }
}
