/* reset */
button {
    all: unset;
}

.SelectTrigger {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    min-width: 210px;
    border-radius: 2px;
    padding: 0 12px;
    height: 35px;
    background: none;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    border: 1px solid var(--color-dark-100);
    color: var(--color-light-100);
    transition: background-color 0.3s linear, border 0.3s linear, color 0.3s linear;
}

.SelectTrigger:hover {
    background-color: var(--color-dark-100);
    border: 1px solid var(--color-light-100);
}

.SelectTrigger:focus {
    outline: 2px solid var(--color-info-500);
    z-index: 10;
}
.SelectTrigger[data-placeholder]:disabled,
.SelectTrigger:disabled {
    background: none;
    border: 1px solid var(--color-dark-300);
    cursor: not-allowed;
    color: var(--color-dark-300)
}

.SelectTrigger[data-placeholder] {
    color: var(--color-light-100);
    font-size: var(--font-size-m);
    font-family: Roboto;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
}


.SelectContent {
    background-color: var(--color-dark-900);
    width: 100%;
    position: absolute;
    top: 35px;
    right: 0;

    border: 1px solid var(--color-dark-100);
    border-radius: 0 0 2px 2px;

}

.SelectViewport {
    background: none;
}

.SelectItem {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-m);
    color: var(--color-light-100);
    display: flex;
    align-items: center;
    height: 25px;
    padding: 16px 12px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.1s linear;
}

.SelectItem[data-disabled] {
    color: var(--color-light-100);

}

.SelectItem[data-highlighted] {
    outline: none;
    background-color: var(--color-accent-700);
    color: var(--color-accent-300);
}

.icon {
    position: absolute;
    right: 15px;
    top: 9px;
}

.containerOptions {
    position: relative;
}
