.signInWrapper {
  width: 420px;
  height: 528px;
  margin: 0 auto;
  padding: 33px 36px 29px;

  border: 1px solid var(--color-dark-500);
  border-radius: 5px;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signInTitle {
  margin: 0 auto 27px;
}

.emailInput {
  color: var(--color-dark-100) !important;
}

.checkbox {
  margin-right: auto;
  margin-left: 23px;
}

.repairPassword {
  cursor: pointer;
  margin-right: 12px;
  margin-bottom: 66px;
  margin-left: auto;

  &:hover {
    text-decoration: underline;
  }
}

.submitButton {
}

.account {
  margin: 20px auto 11px;
}

.signUp {
  margin-right: 50px;
  font-weight: 700;
  color: var(--color-primary-500);
}
