.HeaderRoot {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 80rem;
  height: 3.75rem;
  margin: 0 auto;
  padding: 0.75rem 8.5rem;

  background-color: var(--color-dark-700);
}

.Logo {
  position: fixed;
  margin-right: auto;
}

.SignButton {
  margin-left: auto;
  padding: 0.375rem 1.75rem;
}

.SignedUser {
  cursor: pointer;

  display: flex;
  gap: 0.88rem;
  align-items: center;

  margin-left: auto;
}

.UserName {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  text-decoration-style: dotted;
}
