.image {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.title {
  margin: 47px auto 0;
}

.buttonBack {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 28px auto;
}
