.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  text-align: start;
}

.linkBack {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: start;

  margin-top: 24px;
  margin-bottom: 33px;

  color: var(--color-light-100);

  transition: 0.2s ease-out;

  &:hover {
    color: var(--color-info-300);

    svg path {
      fill: var(--color-info-300);
    }
  }
}

.nameCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconMore {
  cursor: pointer;
  margin-top: 4px;
  margin-left: 16px;
}

.table {
  width: 100%;
}

.search {
  margin-bottom: 24px;
}

.iconBack {
  margin-right: 4px;
}

.nameDeck {
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyDeckName {
  display: flex;
  margin-bottom: 69px;
}

.titleText {
  margin-bottom: 30px;
  color: var(--color-dark-100);
}

.btnBox {
  display: flex;
  justify-content: center;
  max-width: 146px;
}
